body {
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.player {
  width: 350px;
  background: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

button {
  padding: 10px 18px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
}

input[type="range"] {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #eeeeee;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

li:hover {
  background: #cccccc;
}
.active {
  background: #4caf50;
  color: white;
  font-weight: bold;
}
